/*-------------------------FUENTES----------------------------*/
@font-face {
    font-family: adv;
    src: url(fuentes/aero/Aero\ Matics\ Bold\ Italic.ttf);
    font-family: adv1;
    src: url(fuentes/aero/Aero\ Matics\ Regular.ttf);
}

/*-------------------------RESET Y GENERAL--------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    /*border: 1px solid black;*/
    
}

body{
    background: linear-gradient(rgba(129, 127, 127, 0.336), rgba(5, 7, 12, 0.973)),url(img/fondo_mobile_i.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*-------------------------HEADER-----------------------------*/
/*LOGO*/

header .logo{
    display: block;
    width: 90%;
    height: 200px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
/*NAV*/

header nav a{
    display: block;
    background-color: rgba(109, 52, 97, 0.6);
    border-bottom: 8px solid rgba(109, 52, 97, 0.6);
    border-radius: 10px;
    width: 95%;
    height: 55px;
    text-align: center;
    padding-top: 12px;
    margin: auto;
    margin-top: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4em;
    font-family: adv;

}

header nav a:hover{
    background-color: rgba(100,40,96, 0.860);

}

header nav a:first-child{
    margin-top: 40px;

}

header nav a:last-child{
    margin-bottom: 50px;

}

/*HR*/
hr{
    display: block;
    width: 40%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.26);
    border: 1px;
    border-radius: 25%;
    margin: auto;
    
}

/*-------------------------MAIN-------------------------------*/

.welcome {
    display: block;
    width: 90%;
    height: 40px;
    margin: auto;
    padding-top: 0px;
    margin-top: -20px;
    margin-bottom: 100px;
    text-align: center;
    
}

.welcome h2{
    font-family: adv;
    font-size: 3.4em;

}

/*-------------------------IMAGEN OCULTA PARA MOVIL-------------------------------*/
.indexImg img{
    display: none;

}


.cuerpo_texto p{
    border-bottom: 6px solid rgba(109, 52, 97, 0.6);
    border-radius: 10px;
    background-color: rgba(163,124,159,0.6);
    display: block;
    width: 95%;
    height: auto;
    margin: auto;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
    font-family: adv1;
    font-size: 1.4em;

}

.mas_comun h3, li a{
    display: block;
    border-bottom: 2px solid rgb(7, 0, 0);
    border-radius: 10px;
    width: 99%;
    height: 40px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    list-style: none;
    
}

.mas_comun h3{
    /*border-bottom: 6px solid rgba(163,124,159,0.6);*/
    border-radius: 0;
    border-style: outset;
    border-bottom-color: rgba(109, 17, 146, 0.6);
    border-top-color: rgba(109, 17, 146, 0.6);
    border-left-style: none;
    border-right-style: none;
    height: 60px;
    padding-top: 15px;
    background-color: rgba(255, 255, 255, 0.74);
    color: rgba(5, 1, 1, 0.829);
    font-family: adv1;
    

}

.mas_comun li:first-child{
    margin-top: 20px;

}

.mas_comun a{
    width: 75%;
    margin-top: 2px;
    padding-top: 10px;
    background-color: rgba(163,124,159,0.6);
    border-bottom: 4px solid rgba(109, 52, 97, 0.6);
    

}

.mas_comun li:last-child{
    margin-bottom: 25px;

}

.mas_comun a:hover{
    background-color: rgba(100,40,96, 0.860);

}

/*-------------------------FOOTER-----------------------------*/

footer{
    color: aliceblue;
}

footer h4{
    color: aliceblue;

}



/*-------------------------MEDIA QUERYS-----------------------*/
/*Resolución Tablets*/
@media (min-width: 767px){
    body{
        background: linear-gradient(rgba(129, 127, 127, 0.336), rgba(5, 7, 12, 0.973)),url(img/Fondo_Desktop_768.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        font-size: 25px;
    }

    /*MODIFICAR EL PNG DEL TITULO****************************************************************************************/
    /*LOGO*/
    header .logo{
        width: 95%;
        height: 240px;
        margin-top: 60px;
    }
    /*NAV*/

    header nav a{
        border-bottom: 12px solid rgba(109, 52, 97, 0.6);
        border-radius: 10px;
        width: 70%;
        height: 75px;
        padding-top: 15px;
        margin-top: 5px;
        font-size: 1.7em;
        font-family: adv;

    }


    header nav a:first-child{
        margin-top: 70px;

    }

    header nav a:last-child{
        margin-bottom: 140px;

    }


    /*-------------------------MAIN-------------------------------*/

    .welcome {
        width: 90%;
        height: 40px;
        margin: auto;
        padding-top: px;
        margin-top: -70px;
        margin-bottom: 130px;
        text-align: center;
    
    }

    .welcome h2{
        font-size: 5.4em;

    }

    .cuerpo_texto p{
        border-bottom: 20px solid rgba(109, 52, 97, 0.6);
        border-radius: 10px;
        width: 75%;
        height: auto;
        padding: 30px;
        margin-bottom: 40px;
        margin-top: 40px;
        font-size: 1.7em;

    }

    .mas_comun li a{
        border-bottom: 8px solid rgba(7, 0, 0, 0.795);
        border-radius: 10px;
        width: 70%;
        height: 65px;
        font-size: 1.6em;

        
    }
    

    .mas_comun h3{
        border-bottom-color: rgba(109, 17, 146, 0.6);
        border-top-color: rgba(109, 17, 146, 0.6);
        width: 90%;
        height: 120px;
        padding-top: 25px;
        margin-top: 180px;
        font-size: 1.9em;
    

    }

    .mas_comun li:first-child{
        margin-top: 50px;

    }

    .mas_comun a{
        width: 75%;
        margin-top: 2px;
        padding-top: 10px;
        background-color: rgba(163,124,159,0.6);
        border-bottom: 4px solid rgba(109, 52, 97, 0.6);
    

    }

    .mas_comun li:last-child{
        margin-bottom: 85px;

    }

    .mas_comun a:hover{
        background-color: rgba(100,40,96, 0.860);

    }

    /*-------------------------FOOTER-----------------------------*/

    footer{
        width: 99%;
        height: 50px;

    }

    footer h4{
        width: 99%;
        height: 30px;
        margin-top: 2px;
        font-size: 1.3em;

    }
}

/*Resolución Pantallas 1024x1366px */
@media (min-height: 1365px){
    /*MAIN para bajar FOOTER*/
    main{
        display: block;
        width: 100%;
        height: 68vh;

    }
    /*LOGO*/
    header .logo{
        display: inline-block;
        width: 20%;
        height: 130px;
        margin-left: 1%;
        margin-top: 1%;
    }

    header{
        display: block;
        width: 100%;
        height: 100px;

    }

    /*NAV*/
    header nav{
        display: block;
        width: 60%;
        height: 60px;
        float: right;
        margin: 1%;

    }

    header nav a{
        display: inline-block;
        border-bottom: 8px solid rgba(109, 52, 97, 0.6);
        width: 24%;
        height: 60px;
        padding-top: 10px;
        margin-top: 5px;
        font-size: 1.2em;

    }

    header nav a:hover{
        background-color: rgba(100,40,96, 0.860);

    }

    header nav a:first-child{
        margin-top: 5px;

    }

    header nav a:last-child{
        margin-bottom: 10px;
        
    
    }

    /*HR*/
    hr{
        display: none;
    }

    /*-------------------------MAIN-------------------------------*/
    .welcome {
        display: block;
        width: 40%;
        height: 40px;
        margin: auto;
        margin-top: 70px;
    }


    .welcome h2{
        font-family: adv;
        font-size: 2.9em;

    }

    .cuerpo_texto{
        display: inline-block;
        width: 70%;
        height: auto;
        margin-left: 30%;
        margin-top: 100px;

    }

    .cuerpo_texto p{
        border-bottom: 20px solid rgba(109, 52, 97, 0.6);
        border-radius: 25px;
        background-color: rgba(163,124,159,0.6);
        display: block;
        width: 80%;
        height: auto;
        padding: 16px;
        text-align: left;
        margin-bottom: 40px;
        margin-top: 30px;
        margin-left: 0%;
        margin: auto;
        font-family: adv1;
        font-size: 1.2em;

    }

    /*-------------------------FOOTER-----------------------------*/
    footer{
        display: block;
        background-color: rgba(255, 255, 255, 0.308);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        height: 8vh;
        text-align: center;
        margin: auto;
        margin-top: 50px;
        padding-top: 30px;
        position: fixed;
        bottom: 0px;
        left: 0%;
        z-index: 5;

    }

    footer h4{
        width: 99%;
        height: 30px;

    }

}

@media (min-width: 1023px){
    /*MAIN para bajar FOOTER*/
    main{
        display: block;
        width: 100%;
        height: 68vh;

    }
    /*LOGO*/
    header .logo{
        display: inline-block;
        width: 15%;
        height: 90px;
        margin-left: 0%;
        margin-top: 0%;
    }

    .logo img{
        width: 120px;
        height: 90px;

    }

    header{
        display: block;
        width: 100%;
        height: 90px;

    }

    /*NAV*/
    header nav{
        display: block;
        width: 60%;
        height: 60px;
        float: right;
        margin: 1%;

    }

    header nav a{
        display: inline-block;
        border-bottom: 8px solid rgba(109, 52, 97, 0.6);
        width: 24%;
        height: 55px;
        padding-top: 10px;
        margin-top: 5px;
        font-size: 0.889em;

    }

    header nav a:hover{
        background-color: rgba(100,40,96, 0.860);

    }

    header nav a:first-child{
        margin-top: 5px;

    }

    header nav a:last-child{
        margin-bottom: 10px;
        
    
    }

    /*HR*/
    hr{
        display: none;
    }

    /*-------------------------MAIN-------------------------------*/
    .welcome {
        display: block;
        width: 40%;
        height: 60px;
        margin-top: 40px;
        margin-left: 40%;
    }


    .welcome h2{
        font-family: adv;
        font-size: 1.5em;

    }

    .cuerpo_texto{
        display: inline-block;
        width: 60%;
        height: auto;
        margin-left: 40%;
        margin-top: -90px;

    }

    .cuerpo_texto p{
        border-bottom: 10px solid rgba(109, 52, 97, 0.6);
        border-radius: 25px;
        background-color: rgba(163,124,159,0.6);
        display: block;
        width: 80%;
        height: auto;
        padding: 16px;
        text-align: left;
        margin-bottom: 40px;
        margin-top: 30px;
        margin-left: 0%;
        margin: auto;
        font-family: adv1;
        font-size: 0.75em;

    }

    /*-------------------------FOOTER-----------------------------*/
    footer{
        display: block;
        background-color: rgba(255, 255, 255, 0.308);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        height: 8vh;
        text-align: center;
        margin: auto;
        margin-top: 50px;
        padding-top: 14px;
        position: fixed;
        bottom: 0px;
        left: 0%;
        z-index: 5;
        font-size: 0.6em;

    }

    footer h4{
        width: 99%;
        height: 30px;

    }

}